<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.demo.mapper.ZhuaMapper">
  <select id="getZhuaById" resultType="Zhua">
    select  * from  zhua a
    <where>
      a.id=#{id}
    </where>
    </select>
</mapper>
